<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
{% load adminmedia %}
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=iso-8859-2">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Generator" content="AutoSzablon (http://www.kurshtml.boo.pl/skrypty/autoszablon.html)">
<title></title>
<link rel="Stylesheet" type="text/css" href="/css/style.css">
<script type="text/javascript" src="/my_admin/jsi18n/"></script>
<script type="text/javascript" src="/media/admin/js/core.js"></script>
<link rel="stylesheet" type="text/css" href="/media/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/global.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>

<script type="text/javascript">
window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
</script>

</head>
<body>

<table id="top">
<tr>
	<td id="left_border">&nbsp;</td>
	<td id="center">
		<table id="body">
		<tr>
			<td colspan="2" id="header">
				<div id="control">&nbsp;
				</div>
			</td>
		</tr>
		<tr>
			<td id="left">
				<table class="menu">
				<tr><th>Menu</th></tr>
				<tr>
					<td class="links">
						<span class="dot">&raquo;</span> <a href="/rezygnuj/">Historia zamowien</a><br>
					</td>
				</tr>
				<tr><th class="footer">&nbsp;</th></tr>
				</table>
			</td>
			<td id="content">
				<table class="menu">
				<tr><th></th></tr>
				<tr>
	{% for c in kier.all %}
    {% if c.czyWolny %}
    <form action="." method="POST">{% csrf_token %}
        <table>
			<table>
			{% for field in form.visible_fields %}
        <div class="fieldWrapper" id="diwu">
        	<tr>
        	{{ field.errors }}
            <td>{{ field.label_tag }}</td><td>{{ field }}</td>
            </tr>
        </div>
    		{% endfor %}
        </table>
        <p><input type="submit" value="Dodaj"></p>
    </form>
    {% else %}
    
    {% endif %}
    {% endfor %}

						
				</tr>
				<tr><th class="footer">&nbsp;</th></tr>
				</table>
			</td>
		</tr>
		<tr><td colspan="2" id="footer_border">&nbsp;</td></tr>
		<tr><td colspan="2" id="footer">&copy; 2012 </td></tr>
		</table>
	</td>
	<td id="right_border">&nbsp;</td>
</tr>
</table>

</body>
</html>