<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=iso-8859-2">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link rel="Stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<table id="top">
<tr>
	<td id="left_border">&nbsp;</td>
	<td id="center">
		<table id="body">
		<tr>
			<td colspan="2" id="header">
				<div id="control">&nbsp;
				</div>
			</td>
		</tr>
		<tr>
			<td id="left">
				<table class="menu">
				<tr><th>Menu</th></tr>
				<tr>
					<td class="links">
							<form action="." method="POST">{% csrf_token %}
       						 <table>
								{{form.as_table}}
        					</table>
		        			<p><input type="submit" value="Loguj"></p>
    						</form>
					</td>
				</tr>
				<tr><th class="footer">&nbsp;</th></tr>
				</table>
			</td>
			<td id="content">
				<table class="menu">
				<tr><th></th></tr>
				<tr>
					<td>
						<p>To jest przykladowa tresc strony... Aby je zmienic, wczytaj ten plik (<i>index.html</i>) w edytorze HTML, odszukaj w kodzie zrodlowym strony wyrazenia:<br><br>		
				</tr>
				<tr><th class="footer">&nbsp;</th></tr>
				</table>
			</td>
		</tr>
		<tr><td colspan="2" id="footer_border">&nbsp;</td></tr>
		<tr><td colspan="2" id="footer">&copy; 2012</td></tr>
		</table>
	</td>
	<td id="right_border">&nbsp;</td>
</tr>
</table>

</body>
</html>