<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Potwierdzenie</title>
</head>
<body>
    <h1>Potwierdzenie</h1>
     <form action="." method="POST">{% csrf_token %}
        <table>
			{{form.as_table}}
        </table>
    </form>
    </body>
</html>