<html lang="en">
<head>
    <title>Potwierdzenie</title>
</head>
<body>
    <h1>Potwierdzenie</h1>
     <form action="." method="POST">{% csrf_token %}
        <table>
			{{form.as_table}}
        </table>
        <p><input type="submit" value="Dodaj"></p>
    </form>
    </body>
</html>