<html lang="en">
<head>
    <title>Historia kursow</title>
</head>
<body>
    <h1>Historia kursow</h1>
	<form action="." method="POST">{% csrf_token %}
        <table>
			<table>
			{% for field in form.visible_fields %}
        <div class="fieldWrapper">
            {{ field.label_tag }}: {{ field }}
        </div>
    		{% endfor %}
        </table>
        <p><input type="submit" value="Dodaj"></p>
    </form>
</body>
</html>