body, td, th, caption {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
	background: #FFFFFF url("body.gif");
	margin: 0;
	padding: 0;
	text-align: center;
}

table {
	border-collapse: collapse;
}


table#top {
	width: 780px;
	margin: 0 auto;
	text-align: left;
	background: #E0E0E0;
}


td#left_border {
	background: url("left_border.gif");
	width: 10px;
	padding: 0;
	font-size: 10px;
}

td#center {
	width: 760px;
	padding: 0;
}

td#right_border {
	background: url("right_border.gif");
	width: 10px;
	padding: 0;
	font-size: 10px;
}


table#body {
	width: 760px;
}

/* <HEADER> */
td#header {
	background: url("header.gif");
	text-align: right;
	vertical-align: top;
	height: 100px;
	padding: 5px 10px;
}

td#header #control {
	height: 22px;
}

td#header #control img {
	width: 20px;
	height: 20px;
}

td#header #banner {
	width: 400px;
	height: 50px;
	margin-top: 10px;
}
/* </HEADER> */

td#top_menu {
	background: #C0C0C0 url("top_menu.gif");
	color: #808080;
	text-align: center;
	vertical-align: middle;
	height: 30px;
	font-size: 12px;
	padding: 0;
}

td#top_menu_border {
	background: url("top_menu_border.gif");
	height: 12px;
	padding: 0;
	font-size: 10px;
}

td#left {
	width: 150px;
	text-align: center;
	vertical-align: top;
	padding: 0;
}

td#content {
	text-align: left;
	vertical-align: top;
	padding: 0;
}

td#footer_border {
	background: url("footer_border.gif");
	height: 12px;
	padding: 0;
	font-size: 10px;
}

td#footer {
	background: #C0C0C0 url("footer.gif");
	color: #808080;
	font-size: 11px;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}


/* <MENU> */
table.menu {
	width: 100%;
}

table.menu th {
	background: #C0C0C0 url("menu_header.gif");
	color: #808080;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 12px;
	height: 25px;
	padding: 0;
}

table.menu td {
	background: #FFFFFF url("menu.gif");
	color: #808080;
	text-align: left;
	vertical-align: top;
	padding: 5px 7px;
	font-size: 11px;
}

table.menu th.footer {
	background: #FFFFFF url("menu_footer.gif");
	padding: 0;
	font-size: 10px;
	height: 10px;
}
/* </MENU> */

/* <MENU card> */
table.menu td.card {
	text-align: center;
	font-size: 11px;
}

table.menu td.card img {
	margin: 2px;
}
/* </MENU card> */

/* <MENU left> */
td#left table.menu {
	width: 140px;
	margin: 0 auto;
}
/* </MENU left> */

/* <MENU content> */
td#content table.menu {
	width: 605px;
}

td#content table.menu th {
	background-image: url("content_header.gif");
}
td#content table.menu td {
	background: #FFFFFF url("content.gif");
	color: #000000;
	font-size: 11px;
	text-align: justify;
	padding: 10px 10px 30px 10px;
}

td#content table.menu th.footer {
	background: #FFFFFF url("content_footer.gif");
}
/* </MENU content> */

td#content table.menu td table th, td#content table.menu td table td {
	padding: 1px;
	background-color: transparent;
	background-image: none;
}

.dot {
	color: #000080;
	font-weight: bold;
}

/* <A> */
/* <A top_menu> */
td#top_menu a:link, td#top_menu a:visited {
	color: #808080;
	font-weight: bold;
	text-decoration: none;
}

td#top_menu a:hover {
	color: #000080;
}
/* </A top_menu> */

/* <A menu> */
table.menu a:link, table.menu a:visited {
	color: #808080;
	font-weight: normal;
	text-decoration: none;
}

table.menu a:hover {
	color: #000080;
}
/* </A menu> */

/* <A content> */
td#content a:link, td#content a:visited {
	color: #0040B0;
	font-weight: normal;
	text-decoration: none;
}

td#content a:hover {
	color: #0000FF;
	text-decoration: underline;
}
/* </A content> */

/* <A foter> */
td#footer a:link, td#footer a:visited, td#footer a:hover {
	color: #808080;
	font-weight: normal;
	text-decoration: none;
}
/* </A foter> */
/* </A> */
